<section class="mt-4" id="contact">
  <div class="row mt-5 mb-4 pt-5">
    <div class="col-md-8 ml-auto mr-auto text-center mt-5">
      <span class="badge badge-info">Laissez-moi un message</span>
      <h1 class="title">Décrivez-moi votre <b>projet immobilier</b></h1>
      <h4 class="desc">N'hésitez pas à me donner tous les détails de votre projet afin que je puisse mieux préparer mon prochain appel.</h4>
    </div>
  </div>

  <div class="contactus-1 fullWidth">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 ml-auto mr-auto">
          <div class="card card-contact card-raised">
            <div class="card-header text-center">
              <h4 class="card-title">Décrivez votre projet</h4>
            </div>

            <form method="post" action="#" id="contact-form">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Prénom</label>
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                        </div>
                        <input class="form-control" name="firstname" placeholder="Votre prénom..."
                          aria-label="First Name..." type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl-2">
                    <div class="form-group">
                      <label>Nom</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-collection"></i></span>
                        </div>
                        <input type="text" class="form-control" name="lastname" placeholder="Votre nom..."
                          aria-label="Last Name...">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Téléphone</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Votre téléphone..." name="phone">
                  </div>
                </div>
                <div class="form-group">
                  <label>Adresse e-mail</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Votre email..." name="email">
                  </div>
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea name="message" class="form-control" id="message" rows="6" placeholder="Type d'achat, budget, critères spécifiques, localités visées..."></textarea>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit"
                      class="btn btn-primary center">Décrire mon projet</button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
  </div>
  </div>
</section>