<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/pages/Avignon-Pont-Saint-Benezet-homepage.jpeg' | relative_url }}'); background-size: cover;"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11 mr-auto text-left d-flex justify-content-center flex-column">
          <h1 class="display-1 text-white">Frédérique Lodola<br>Chasseur Immobilier à Avignon et alentours</h1>
          <p class="lead mt-0 text-white">Je vous accompagne dans votre projet d’achat de résidence principale ou secondaire à Avignon et ses alentours, et aussi dans vos projets d’investissement.</p>
          <br>
          <div class="buttons">
            <a href="/contact/" class="btn btn-primary">
              Décrivez votre projet immobilier
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section features-6">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3">Quel est votre projet immobilier ?</h3>
        <p class="lead">En fonction de votre projet d'achat immobilier à Avignon ou ses environs, je saurai répondre à vos attentes.</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-building text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">Acheter pour habiter</h5>
            <p>
              Je suis là pour comprendre vos besoins spécifiques en tant qu'acheteur résidentiel à Avignon et ses alentours, en recherchant des propriétés qui correspondent à votre style de vie et à vos besoins familiaux. Mon objectif est de trouver un bien immobilier où vous vous sentirez chez vous, en mettant l'accent sur vos préférences personnelles et votre confort.
            </p>
            <!--<a href="#" class="text-info">Learn more</a>-->
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-building text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">Investissement immobilier</h5>
            <p>
              Je peux vous aider en identifiant des propriétés qui offrent un bon potentiel locatif et un rendement solide, tout en tenant compte des facteurs clés pour attirer des locataires et maximiser votre investissement immobilier. Mon objectif est de vous guider vers des biens immobiliers qui correspondent à vos objectifs financiers et à vos stratégies d'investissement locatif.
            </p>
            <!--<a href="#" class="text-info">Learn more</a>-->
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5" src="{{ '/assets/img/ill/ill.png' | relative_url }}" width="100%">
      </div>
    </div>
  </div>
</div>

{% include components/component-presentation.html %}

<div class="section" id="services">
  {% include components/feature-services.html %}
</div>


<div class="section" id="faq">
  {% include components/feature-faq.html %}
</div>

<div class="section">
  <div>
    <p>Faire appel à un chasseur immobilier présente une série d’avantages. Voici comment se déroule une mission de recherche :</p>
    <ul>
      <li>de trouver un appartement ou une maison en seulement quelques semaines contre plusieurs mois s’ils ne sont pas accompagnés</li>
      <li>d’accéder à des biens “off market” dont les offres n’ont pas encore été publiées sur des plateformes de vente immobilière</li>
      <li>de ne visiter que l’essentiel</li>
      <li>d’obtenir une aide pour la négociation du prix d’achat</li>
      <li>de profiter de conseils d’experts pendant toute la durée de la recherche</li>
      <li>de bénéficier de tarifs modérés et uniquement payables si un achat est conclu avant le terme du mandat.</li>
    </ul>
  </div>
</div>

<div class="section" id="latest-testimonials">
  {% include components/component-latest-testimonials.html %}
</div>