<div class="contactus-3 fullWidth">
  <!--<div class="page-header">
        <img class="bg-image" src="{{ '/assets/img/ill/bg_contactus3.svg' | relative_url }}" alt="">
    </div>-->
  <div class="container">
    <!--<div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1">Vous avez une question concernant votre projet immobilier à Avignon ?</h1>
        <h3 class="lead">Je serai ravie de vous aider !</h3>
      </div>
    </div>-->
    <div class="row">
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-email-83"></i>
          </div>
          <h4 class="info-title">Email</h4>
          <p class="description px-0">hello@chasseurimmobilieravignon.com</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-mobile-button"></i>
          </div>
          <h4 class="info-title">Téléphone</h4>
          <p class="description px-0">+33 7 69 91 57 35</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-circle-08"></i>
          </div>
          <h4 class="info-title">Contact</h4>
          <p class="description px-0">Frédérique Lodola</p>
        </div>
      </div>
    </div>
  </div>
</div>