<section class="pricing-3" style="background-image: url('{{ '/assets/img/ill/1.svg' | relative_url }}'); margin-top:75px;" id="pricing-4">
    <div class="container">
      <div class="row">
        <div class="col-md-5 pr-md-0">
          <div class="card card-pricing text-center bg-default">
            <!--<div class="card-header bg-transparent">
              <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">Bravo pack</h4>
            </div>-->
            <div class="card-body px-lg-6">
              <span class=" text-muted">à partir de</span>
              <div class="display-2 text-white">2,5%</div>
              <span class=" text-muted">du prix d'acquisition FAI*</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                        <i class="ni ni-folder-17 text-white"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm">Paiement au succès</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                        <i class="ni ni-camera-compact text-white"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm">Honoraires forfaitaires</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                        <i class="ni ni-chart-pie-35 text-white"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm">Validation par le notaire</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-primary mb-3">Contactez-moi</button>
            </div>
            <div class="card-footer bg-transparent">
              <a href="/contact/" class=" text-muted">Décrivez votre projet immo</a>
            </div>
          </div>
        </div>
        <div class="col-md-7 pl-md-0">
          <div class="card card-pricing border-0 text-center my-5">
            <div class="card-header bg-transparent">
              <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">Grille tarifaire</h4>
            </div>
            <div class="card-body px-lg-6">
              <div class="card-description">Honoraires en euros TTC, dûs au moment de la signature de l'acte authentique sur présentation de la facture validée par le notaire.</div>
              <table class="table table-bordered mt-3">
                <tbody>
                  <tr>
                    <th>Prix d'acquisition FAI*</th>
                    <th>Honoraires (TTC)</th>
                  </tr>
                  <tr>
                    <td>Jusqu’à 260 000 euros</td>
                    <td>7900,00 €</td>
                  </tr>
                  <tr>
                    <td>De 260 001 € à 1 000 000 €</td>
                    <td>3%</td>
                  </tr>
                  <tr>
                    <td>Plus de 1 000 001 €</td>
                    <td>2,5%</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--<div class="card-footer">
              <a href="javascript:;" class="text-primary">Create new account</a>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>