<!-- Begin list 9 latest testimonials -->
<div class="features-7 fullWidth contentWrapper">
    <div class="container mb-2">
      <div class="row">
        <div class="col-md-8 text-center mx-auto">
            <h3 class="display-2">Témoignages clients</h3>
            <p class="lead pb-5">Ils m'ont fait confiance !</p>
        </div>
      </div>
    
    </div>
  </div>
  
  <div class="row align-items-center mb-2">
    {% for testimonial in site.testimonials reversed limit:10 %}
    <div class="{% if forloop.index == 1 or forloop.index == 6 %}col-lg-6{% else %}col-lg-3{% endif %}">
      <div class="card card-blog card-background" data-animation="zooming">
        <div class="full-background" style="background-image: url({{ testimonial.featured_image | relative_url }})"></div>
        <a href="{{ testimonial.url | relative_url }}">
          <div class="card-body">
            <div class="content-bottom">
              <h6 class="card-category text-white opacity-8">{{ testimonial.date | date: "%d/%m/%Y" }}
              </h6>
              <h5 class="card-title">{{ testimonial.title }}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h3 class="title mb-3 mt-5"><a href="/temoignages-clients/">Découvrez tous mes témoignages clients</a>, et entrez dans l'univers d'un chasseur immobilier à Avignon et alentours&nbsp;!</h3>
    </div>
  </div>
  <!-- End list 9 latest testimonials -->