<section id="presentation" class="fullWidth" style="background-image: url('{{ '/assets/img/ill/1.svg' | relative_url }}'); margin-top:75px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center mx-auto">
                <h2 class="display-2">Qui suis-je ?</h2>
            </div>
        </div>


        <div class="row align-items-center">
            <div class="col-lg-6 col-10 mx-md-auto">
                <img class="ml-lg-5 img-fluid rounded-circle shadow" src="{{ '/assets/img/frederique-lodola/Frederique-Lodola-chasseur-immo-a-Avignon.jpeg' | relative_url }}" width="75%">
              </div>
            <div class="col-lg-6">
                <p>À la recherche de la maison ou de l'appartement de vos rêves ? Faites équipe avec moi, Frédérique Lodola, chasseur immobilier indépendant cumulant plus de cinq ans d'expérience dans la région d'Avignon. En tant que chasseur immobilier, je me consacre entièrement à vous guider tout au long de votre parcours immobilier.</p>
                <p>L'acquisition d'un bien immobilier est une aventure passionnante, et je suis là pour mettre à profit mon savoir-faire. De la quête du logement idéal aux visites et aux démarches administratives, je suis votre allié dédié. Mon objectif premier est de vous assister dans la concrétisation de votre projet en m'ajustant constamment à vos besoins, rendant cette expérience aussi plaisante et fluide que possible.</p>
                <p>Si vous recherchez le partenaire idéal pour dénicher le nid douillet qui correspond parfaitement à vos attentes, n'hésitez pas à me contacter. Je suis impatiente de contribuer à la réalisation réussie de votre projet immobilier.</p>
            </div>
          </div>
    </div>
</section>