<div class="cd-section" id="accordion">
    <div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2 class="title mb-3 mt-5">Questions fréquentes</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <!-- Start end -->
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Qu’est-ce qu’un chasseur immobilier ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">
                    <p>S’il paraît souvent logique de confier la vente de son bien immobilier à un professionnel, il est encore peu habituel de solliciter un chasseur immobilier, profession réglementée, pour son projet d’achat.</p>
                    <p>Ainsi, l’agent immobilier défend les intérêts et travaille pour son client vendeur, alors que le chasseur immobilier offre un ensemble de services à son client acheteur.</p>
                    <p>Le chasseur immobilier mobilise l’intégralité de son temps et de son réseau afin d’aider l’acquéreur à trouver l’appartement ou la maison de ses rêves quelque soit son projet :
                    Résidence principale
                    Résidence secondaire
                    Investissement locatif</p>
                  </div>
                </div>
              </div>
              <!-- End -->
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Pourquoi faire appel à un chasseur ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">
                    <p>Les raisons sont multiples :</p>
                    
                    <ul>
                      <li>Vous n’avez pas le temps</li>
                      <li>vous recherchez depuis un moment et vous ne parvenez pas à trouver votre bien pour diverses raisons</li>
                      <li>Vous n’habitez pas sur place</li>
                      <li>Vous avez un cahier des charges spécifique</li>
                      <li>Vous avez envie de vous offrir du temps en ne visitant que des biens ciblés</li>
                      <li>Pour n’avoir qu’un seul et unique interlocuteur</li>
                    </ul>
                    <p>La liste est longue ! Quelle que soit votre situation ou votre problématique, le chasseur immobilier sera votre meilleur partenaire pour votre projet.</p>
                  </div>
                </div>
              </div>
              <!--
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How much time does it take to receive the order?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                      Can I resell the products?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFifth">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFifth" aria-controls="collapseFifth">
                      Where do I find the shipping details?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>