---
layout: default
---

<div class="container contentWrapper pb-2">
  <div class="text-left mt-5 mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h1 class="display-2" itemprop="name">{{page.title}}</h1>
  </div>
</div>

<div id="main" class="container" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <div itemprop="text">
      {{ page.answer | markdownify }}
    </div>
</div>


<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
  <h2 itemprop="name">How to find an apprenticeship?</h2>
  <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <div itemprop="text">
      We provide an official service to search through available apprenticeships. To get started, create an account here, specify the desired region, and your preferences. You will be able to search through all officially registered open apprenticeships.
    </div>
  </div>
</div>