---
layout: default
---

<div class="container contentWrapper pb-2">
  <div>{% include /components/breadcrumbs.html %}</div>
  <div class="text-left mt-5 mb-3">
    <h1 class="display-2">{{page.title}}</h1>
    <h3 class="category">{{ page.date | date: "%d/%m/%Y" }}</h3>
  </div>
</div>

<div id="main" class="container">
  <!-- Comment -->
  <p>{{ page.testimonial.comment }}</p>

  <!-- Testimonial link -->
  {% if page.testimonial.platform == "Google My Business" or page.testimonial.platform == "Immodvisor" %}
  <a href="{{ page.testimonial.link }}" target="blank">Voir ce témoignage sur {{ page.testimonial.platform }}</a>
  {% endif %}

  <!-- Slider -->
  <div class="blogGlide fullWidth">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% for image in page.images %}
            <li class="glide__slide">
                <img src="{{ image.url }}">
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="glide__arrows d-flex justify-content-center mt-2" data-glide-el="controls">
          <button class="glide__arrow text-default position-static" data-glide-dir="<"><i class="ni ni-bold-left"></i></button>
          <button class="glide__arrow text-default position-static" data-glide-dir=">"><i class="ni ni-bold-right"></i></button>
    </div>
  </div>

  {{content}}
</div>

{% if site.data.settings.blog_settings.read_more == "yes" %}
<section class="blogs-1">
  <div class="container">
    <h2 class="title mb-5">Découvrir d'autres témoignages</h2>

    {% assign testimonial_count = site.testimonials | size %}
    {% if testimonial_count != 0 %}
    
    <div class="row align-items-center mb-2">
      {% for testimonial in site.testimonials reversed limit:6 %}
      <div class="{% if forloop.index == 1 or forloop.index == 6 %}col-lg-6{% else %}col-lg-3{% endif %}">
        <div class="card card-blog card-background" data-animation="zooming">
          <div class="full-background" style="background-image: url({{ testimonial.featured_image | relative_url }})"></div>
          <a href="{{ testimonial.url | relative_url }}">
            <div class="card-body">
              <div class="content-bottom">
                <h6 class="card-category text-white opacity-8">{{ testimonial.date | date: "%d/%m/%Y" }}
                </h6>
                <h5 class="card-title">{{ testimonial.title }}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    
  </div>
</section>
{% endif %}